/* Color Palette : https://coolors.co/edffec-61e786-5f5aa2-355691-3f4045 */

.colors {
    color: #5F5AA2;
    color: #61E786;
    color: #355691;
    color: #3F4045;
    color: #EDFFEC;
}

body {
    background: #5F5AA2;
    background-image: url("../img/Abstract-World-Map-Transparent-Background.png");
}

.container {
    background: #355691;
    padding: 40px;
    margin: 10% auto;
    border-radius: 10px;
    
}

h1 {
    color: #59C0C1;
}

.counterBox {
    margin-left: 40px; 
}