/* Color Palette : https://coolors.co/edffec-61e786-5f5aa2-355691-3f4045 */

.colors {
    color: #5F5AA2;
    color: #61E786;
    color: #355691;
    color: #3F4045;
    color: #EDFFEC;
}

body {
    background: #61E786;
}

.container {
    background: #5F5AA2;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
}

h1 {
    color: #61E786;
}

.questionBox {
    margin: 0 auto;
}